{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h4 style="margin-left: 45px">Delete the category with below details?</h4>
            <ul style="margin-left: 120px" class="list-group">
                <li class="list-group-item">Category Id: {{ category._id }} </li>
                <li class="list-group-item">Category : {{ category.name }} </li>
            </ul>
        <br>
        <form action="{{ url_for('catalog.delete_category', category_id=category._id) }}" method="POST" style="margin-left: 45px">
            <button type="submit" class="btn btn-sm btn-primary"> delete </button>
        </form>
    </div>
{% endblock %}